:root {
    --bg-color: #F7F7FE;
    --text-color: #6E728E;
}


/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 15px;
    line-height: 28px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1100px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}


/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
}